<!DOCTYPE html>
<html>
<body>

<h1 style="float:center">Pollution meter</h1>

<select id="selGases">
</select>

<div id="map" style="width:100%;height:500px"></div>
<script src="/public/jquery-3.1.1.min.js"></script>
<script src="/public/pollution-radar.js"></script>

<script src="https://maps.googleapis.com/maps/api/js?callback=myMap"></script>

</body>
</html>

