<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="public/styles.css">
</head>
<body>

  <h1>Pollution meter</h1>

  <div id="map" class="pol-map" ></div>
   <select id="selGases" class="gas-select" >
  </select>
  <div style="float:right" class="text-reg ">
    PPM (less is better):
    <img class="img-o50" src="/public/pollution-scale.png" alt="Smiley face" height="30">
  </div>
  
  <script src="/public/jquery-3.1.1.min.js"></script>
  <script src="/public/pollution-radar.js"></script>

  <script src="https://maps.googleapis.com/maps/api/js?callback=myMap"></script>

</body>
</html>

